/*Table*/
.config {
  align-items: center;
  text-align: center;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center; /* Change to center */
  margin-bottom: 10px;
}

:root {
  --width: 30dvw;
}


.textdiv {
  width: calc(80% - var(--width));

  display: flex;
  margin-left: auto;
  margin-right: 0;
  align-items: flex-start;
  justify-content: flex-start; /* Align text to the left */
  flex-direction: column; /* Display items in a column */
}

.inputlabel {
  margin-left: auto;
  margin-right: 0;
  font-size: 16px;
  text-align: right; /* Align text to the right */
}

.description {
  margin-left: auto;
  margin-right: 0;
  font-size: 12px;
  margin-top: 5px; /* Add margin to separate from the label */
  text-align: right; /* Align text to the right */
}

.envinput {
  width: var(--width);
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
  margin-right: calc(50% - var(--width));
}

.envinput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.envdropdown {
  width: calc(var(--width) + 20px);
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
  margin-right: calc(50% - var(--width));

}

.submitbtn {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .block {
    flex-direction: column;
  }

  .textdiv {
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .inputlabel {
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .description {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .envinput {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
  }

  .submitbtn {
    width: 80%;
  }

  .envdropdown {
    width: calc(80% + 20px);
    margin-left: 0;
    margin-right: 0;
  }
}
